<img src="{{ product.image }}" alt="Image" class="product-card__image" />
<h2>Product name: {{ product.title }}</h2>
<h4>Description: {{ product.description }}</h4>
<h4>Price: {{ product.price | currency : "RUB" }}</h4>
<h4>Category: {{ product.category }}</h4>
<h4>Rating:</h4>
<h4>{{ product.rating.count }}</h4>
<h4>{{ product.rating.rate }}</h4>

<div>
  <button nz-button (click)="showModal()">
    <span>Show Modal</span>
  </button>

  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="The first Modal"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <h2>My modal</h2>
    </ng-container>
  </nz-modal>
</div>

<div>
  <button class="product-card__button" (click)="goToMenu()">Back</button>
</div>
