<img src="{{ product.image }}" alt="Image" class="product-card__image" />
<h2>Product name: {{ product.title }}</h2>
<h4>Description: {{ product.description }}</h4>
<h4>Price: {{ product.price | currency : "RUB" }}</h4>
<h4>Category: {{ product.category }}</h4>
<h4>Rating:</h4>
<h4>{{ product.rating.count }}</h4>
<h4>{{ product.rating.rate }}</h4>

<h4>
  <button
    mat-stroked-button
    color="warn"
    class="button_style2"
    (click)="openDialog()"
  >
    Редактировать
  </button>
</h4>
<h4>
  <button
    mat-stroked-button
    color="primary"
    class="button_style1"
    (click)="goToMenu()"
  >
    Back
  </button>
</h4>
