<h2 mat-dialog-title>Окно редактирования продукта:</h2>
<mat-dialog-content>
  <form [formGroup]="$any(form)" (ngSubmit)="submit(product)">
    <h2>Введите название продукта:</h2>
    <input formControlName="title" />
    <h2>Введите стоимость:</h2>
    <input formControlName="price" />
    <h2>Введите описание продукта:</h2>
    <input formControlName="description" />
    <h2><button type="submit">Сохранить</button></h2>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Выйти</button>
</mat-dialog-actions>
