.modal {
  height: 100vh;
  width: 100vw;
  /* Окно на весь экран и прорачное черное*/
  background-color: rgba(0, 0, 0, 0.4);
  /* чтобы оно оставалось всегда на месте - фиксируем */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.modal.active {
  transform: scale(1);
}
.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
}
