.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  width: 100%;
  max-width: 1600px;
  padding-top: 5%;
}
.footer_style {
  height: 4em;
}
.header_style {
  position: fixed;
  top: 0;
  background-color: black;
  height: 10%;
}
