<div>
  <div>
    <input
      type="text"
      class="mb-2 border py-2 px-4 w-full"
      placeholder="Filter products..."
      [(ngModel)]="emp"
    />
  </div>
  <div *ngIf="productsService.products">
    <div
      *ngFor="let product of productsService.products | filterProducts : emp"
      class="product-card"
    >
      <img
        src="{{ product.image }}"
        alt="Изображение"
        class="product-card__image"
      />
      <h3 class="product-card__title" [title]="product.title + ' details'">
        {{ product.title }}
      </h3>
      <p class="product-card__description">Состав: {{ product.description }}</p>
      <span class="product-card__price"
        >{{ product.price | currency : "RUB" }}
      </span>
      <div>
        <button class="product-card__button" (click)="goToDetailsPage(product)">
          Подробнее
        </button>
        <button class="product-card__button" (click)="addToBasket(product)">
          Добавить в корзину
        </button>
        <button class="product-card__button" (click)="deleteProduct(product)">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <app-create-product></app-create-product>
</div>
