* {
  padding: 10px;
  margin: 10px;
}
.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  text-align: center;
  font-family: sans-serif;
  display: inline-block;
}

.product-card__image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.product-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-card__description {
  font-size: 14px;
  margin-bottom: 16px;
}

.product-card__price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.product_filter {
  width: 90%;
}
