<div>
  <div>
    <h3>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Поиск продукта..."
        [(ngModel)]="emp"
      />
    </h3>
  </div>
  <div *ngIf="productsService.products">
    <div
      *ngFor="let product of productsService.products | filterProducts : emp"
      class="product-card"
    >
      <img
        src="{{ product.image }}"
        alt="Изображение"
        class="product-card__image"
      />
      <h3 class="product-card__title" [title]="product.title + ' details'">
        {{ product.title }}
      </h3>
      <p class="product-card__description">Состав: {{ product.description }}</p>
      <span class="product-card__price"
        >{{ product.price | currency : "RUB" }}
      </span>

      <div>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="goToDetailsPage(product)"
        >
          Подробнее
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="addToBasket(product)"
        >
          Добавить в корзину
        </button>
        <button
          type="button"
          class="btn btn-danger"
          color="warn"
          (click)="deleteProduct(product)"
          *ngIf="authService.canEdit"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<div class="create_style">
  <app-create-product></app-create-product>
</div>
